<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span class="tit-img"><h4> {{destino.nombre}}</h4></span>
    </div>
    <div class="card-body">
        <h3>{{destino.nombre}} </h3>
        <p style="text-align: center;">Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="color: red;"  >{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir</a>&nbsp;
        <span *ngIf="destino.isSelected()">
            <h3 class="fas fa-check" style="color: blue;"></h3>&nbsp;
            PREFERIDO
        </span>
    </div>
    <div class="card-footer">
        <a [routerLink]="['/destino/destino.nombre']">Ver Detalle</a>
    </div>
</div>
<br>